
@font-face {
    font-family: 'OranienbaumRegular';
    src: url('oranienbaum.eot');
    src: url('oranienbaum.eot?#iefix') format('embedded-opentype'),
         url('oranienbaum.woff') format('woff'),
         url('oranienbaum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}